* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

body, input, button {
	font-family: 'Roboto', sans-serif;
}


header {
	width: 100%;
	height: 80px;
	position: fixed;
	padding: 15px;
	top: 0;
	left: 0;
	z-index: 5;
	background-color: #46B17C;
	box-shadow: 0px 2px 4px rgba(44,62,80,0.15);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}


header input {
	width: 100%;
	height: 50px;
	float: left;
	color: #fff;
	font-size: 15px;
	font-weight: 400;
	text-indent: 18px;
	padding: 0px 60px 0 0;
	background: rgba(255,255,255,0.2);
	border-radius: 5px 25px 25px 5px;
	border: 0;
	box-shadow: none;
	outline: none;


	-webkit-appearance: none;
	-moz-appearance: none;
}

header input::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.75);
}

header input:-moz-input-placeholder {
	color: rgba(255, 255, 255, 0.75);
}

header input::-moz-input-placeholder {
	color: rgba(255, 255, 255, 0.75);
}

header input:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.75);
}


header button {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 2;
	border-radius: 25px;
	background-color: #fff;
	border: 0px;
	box-shadow: none;
	outline: none;
	cursor: pointer;

	-webkit-appearance: none;
	-moz-appearance: none;
}


header button i {
	font-size: 24px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -11px 0 0 -10px;
	color: #46B17C;
}



.container {
	width: 100%;
	float: left;
	padding: 15px;
	margin-top: 60px;
}

ul.todo {
	width: 100%;
	float: left;
	margin-top: 20px;
}


ul.todo li {
	width: 100%;
	min-height: 50px;
	float: left;
	font-size: 14px;
	font-weight: 500;
	color: #444;
	line-height: 22px;
	background: #fff;
	border-radius: 5px;
	position: relative;
	box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
	margin: 0 0 10px 0;
	padding: 14px 100px 14px 14px;
	word-break: break-word;
}

.liButtons i {
	font-size: 22px;
}

.liButtons {
	width: 100px;
	height: 50px;

	position: absolute;
	top: 0;
	right: 0;
}


.liButtons button {
	width: 50px;
	height: 50px;
	float: left;
	background: none;
	position: relative;
	border: 0px;
	box-shadow: none;
	outline: none;
	cursor: pointer;

	-webkit-appearance: none;
	-moz-appearance: none;
}

.liButtons button:last-of-type:before {
	content: '';
	width: 1px;
	height: 30px;
	background: #edf0f1;

	position: absolute;
	top: 10px;
	left: 0;
}

.trash {
	color: #F23037;
}

.check {
	color: #46B17C;
}

.hr-line  {
	width: 200px;
	background-color: #ccc;
	border: 0;
	height: 1px;
}



.completed-title {
	color: #46B17C;
	padding: 15px 0;
	display: none;
}